.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 200px;
}

nav {
  overflow: hidden;
}

.nav-link {
  float: left;
  width: 2%;
  text-align: left;
  height: 20px;
  line-height: 20px;
}
